
{% extends path1+"/_addlayout.html" %} 
{%
    set rooms = [{
        name: "Room 1",
        groundFloor: true,
        href: "edit-room-1"
    },{
        name: "Room 2",
        groundFloor: true,
        href: "#"
    },{
        name: "Room 3",
        groundFloor: true,
        href: "#"
    },{
        name: "Room 4",
        groundFloor: false,
        href: "#"
    },{
        name: "Room 5",
        groundFloor: false,
        href: "#"
    },{
        name: "Room 6",
        groundFloor: false,
        href: "#"
    },{
        name: "Room 7",
        groundFloor: false,
        href: "#"
    }]
%}

{%
    set slots = [
        "9.00am",
        "10:00am",
        "11:00am",
        "1:00pm",
        "2:00pm",
        "3:00pm",
        "4:00pm"    
        ]
%}
{% block citizen_content %}


<div class="container">
    <div class="mt30 grid-row">
        <h2>Manage Rooms</h2>
        <div class="column-two-thirds">
        
        <p><a href="£" class="button mt30">New Room</a></p>
    </div>
        <!-- column -->
        <div class="column-one-third">
            <div class="info-panel ">
                <div class="grid-row">
                    <div class="data column-one-third">
                      <span class="data-item bold-xlarge">7</span>
                      <span class="data-item bold-xsmall">Rooms</span>
                    </div>
                    <div class="data column-one-third">
                      <span class="data-item bold-xlarge">3</span>
                      <span class="data-item bold-xsmall">Ground Floor</span>
                    </div>
                    <div class="data column-one-third">
                      <span class="data-item bold-xlarge">2</span>
                      <span class="data-item bold-xsmall">Wheelchair Accessible</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- row -->
</div>
<!-- container -->
{% endblock %} 
{% block footer_top %} 
{{ super() }} 
{# {% include path1+"/footer_links.html" %} #} 
{% endblock %}