{% extends path2+"/_addlayout.html" %} 



{% block citizen_content %}
<div class="container">
    <p><a href="fiveways" class="link-back">Back</a></p>
    <div class="grid-row mt30">
        <div class="column-one-quarter">
            <nav class="left-nav">
                <a href="manage-centre?tab=details" class="left-nav__link">Details</a>
                <a href="manage-centre?tab=slots" class="left-nav__link">Slots</a>
                <a href="manage-centre?tab=rooms" class="left-nav__link">Rooms</a>
                <a href="manage-staff" class="left-nav__link left-nav__link--selected">Staff</a>
            </nav>
        </div>
        <div class="column-half">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Skill</th>
                        <th>Available Times</th>
                    </tr>
                </thead>
                {% for person in staff %}
                <tr>
                    <td><a href="manage-staff/staff-profile?personId={{ person.id }}&tab=details">{{ person.name }}</a></td>
                    <td>{{ person.skill }}</td>
                    <td>
                        {% for day, dayDetails in person.days %}
                            {{day}} {{dayDetails.start}} to {{dayDetails.end}}{% if not loop.last %}, <br> {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <p class="mt30"><a href="new-staff" class="button">Add staff</a></p>
        </div>
        <!-- column -->
        <div class="column-one-quarter">
            <div class="info-panel ">
                <h4 class="mt10">Skill totals</h4>
                <div class="grid-row">
                    <div class="data column-one-third">
                      <span class="data-item bold-xlarge">
                          {{complexTotal}}
                      </span>
                      <span class="data-item bold-xsmall">Complex Neuro</span>
                    </div>
                    <div class="data column-one-third">
                      <span class="data-item bold-xlarge">{{neuroTotal}}</span>
                      <span class="data-item bold-xsmall">Neuro</span>
                    </div>
                    <div class="data column-one-third">
                      <span class="data-item bold-xlarge">{{standardTotal}}</span>
                      <span class="data-item bold-xsmall">Standard</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
</div>
<!-- container -->
{% endblock %} {% block footer_top %} {{ super() }} {# {% include path1+"/footer_links.html" %} #} {% endblock %}