{% extends path+"/_layout.html" %}



{% block assess_content %}

  <div class="nav-horizontal">
  <div class="main-nav-wrapper">
    <ul class="main-nav">
 
        <li class="selected"><a href="#">Appointments</a></li>
        <li><a href="#">Assessment Centres</a></li> 
        <li><a href="#">Health Care Professionals</a></li>

    </ul>
  </div>
</div>

<main id="content" role="main" class="main-content mt30">

      <div class="container">
      
   <h1 class="heading-large">Appointments</h1>
   
   
   <div class="section-tabs clearfix">
    <ul>

        <li class="active"><a href="#">Referrals</a></li>
      
        <li><a href="booked_appointments">Scheduled</a></li>
      
    </ul>
  </div>
      
      
        <div class="grid-row">
          <div class="column-full">
              <table class="zebra">

                <thead>
                  <tr>
                    <th style="padding-left:15px;">Name</th>
                    <th>Requirement</th>
                    <th>Received</th>
                    <th class="numeric">Status</th>
                  </tr>
                </thead>


                <tr class="click_row" href="booking/timeline">
                  <td style="padding-left:15px;" class="">Bobby Henderson</td>
                  <td>Complex Nuero </td>
                  <td>{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="numeric">New</td>
                </tr>

                <tr class="click_row" href="#">
                  <td style="padding-left:15px;" class="">Dexter Coutinho</td>
                  <td>Complex Nuero </td>
                  <td>{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="numeric">New</td>
                </tr>
                
                <tr class="click_row" href="#">
                  <td style="padding-left:15px;" class="">Isaac Carragher</td>
                  <td>Complex Nuero</td>
                  <td>{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="numeric">New</td>
                </tr>
                
              <!--  <tr class="click_row" href="miarussell/timeline">
                  <td style="padding-left:15px;" class="">Mia Russell</td>
                  <td>Appointment booked</td>
                  <td>pseudoxanthoma elasticum </td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Grégory Faure</td>
                </tr>
                
                <tr class="click_row" href="miarussell/timeline">
                  <td style="padding-left:15px;" class="">Lucas Sturridge</td>
                  <td>Appointment booked</td>
                  <td>pseudoxanthoma elasticum </td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Grégory Faure</td>
                </tr>
                
                <tr class="click_row" href="miarussell/timeline">
                  <td style="padding-left:15px;" class="">Ashton Firmino</td>
                  <td>Appointment booked</td>
                  <td>pseudoxanthoma elasticum </td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Grégory Faure</td>
                </tr> -->

               
              </table>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
